<section class="hero">

    <!-- Left Side -->
    <div class="hero-content">

        <span class="hero-tag">
            NEW COLLECTION
        </span>

        <h1>

            Discover Timeless

            <br>

            <span>Elegance</span>

        </h1>

        <p>

            Premium fashion designed for confidence,
            elegance, and everyday comfort.

        </p>

        <button
                class="hero-button"
                onclick="productService.search()">

            Shop Collection

        </button>

    </div>

    <!-- Right Side -->

    <div class="hero-image">

        <img
                src="images/hero-model.png.png"
                alt="ALLURE Fashion">

    </div>

</section>